* {
    padding: 0;
    border: none;
    margin: 0;
    text-decoration: none;
}

:root {
    & > * {
        font-family: var(--potter-one);
    }
}

img {
    vertical-align: text-bottom;
}

.text-gray {
    color: rgb(192, 192, 192);
}

.default-layout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding: 20px;

    &__main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-grow: 1;
    }
}

.home {
    form {
        & > *:first-child {
            flex-grow: 1;
        }

        & > *:last-child {
            flex-grow: 0.2;
        }
    }

    h1 {
        font-size: 72px;

        @media screen and (max-width: 600px) {
            font-size: 50px;
        }
    }
}
